.contacts__title {
    margin-bottom: 24px;
}

.contacts__wrapper {
    display: flex;
    gap: 104px;
}

.contacts__phone {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.contacts__phone-wrapper::before {
    content: '';
    display: block;
    margin-bottom: 26px;
    width: 24px;
    height: 24px;
    background-image: url(../resources/phone.png);
}

.contacts__mail {
    font-size: 60px;
    color: #121212;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.contacts__mail-wrapper::before {
    content: '';
    display: block;
    margin-bottom: 26px;
    width: 24px;
    height: 24px;
    background-image: url(../resources/mail.png);
}

.contacts__phone:hover {
    opacity: 0.5;
    border-bottom: 2px solid #121212;
}

.contacts__mail:hover {
    opacity: 0.5;
    border-bottom: 2px solid #121212;
}


@media (max-width: 1199px) {
    .contacts__wrapper {
        gap: 114px;
    }

    .contacts__phone {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: -1.35px;
    }

    .contacts__mail {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: -1.35px;
    }
}

@media (max-width: 767px) {
    .contacts__wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .contacts__phone-wrapper {
        width: 100%;
    }
    
    .contacts__mail-wrapper {
        width: 100%;
    }

    .contacts__phone-wrapper::before {
        margin-bottom: 20px;
    }

    .contacts__mail-wrapper::before {
        margin-bottom: 20px;
    }

    .contacts__phone {
        font-size: 35px;
        line-height: 45.621px; 
        letter-spacing: -1.05px;
    }

    .contacts__mail {
        font-size: 35px;
        line-height: 45.621px; 
        letter-spacing: -1.05px;
        
    }
}