.body_fixed {
    overflow: hidden;
}

.header {
    padding-top: 33px;
    padding-bottom: 70px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 127px;
    height: 22px;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__nav-link {
    display: block;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.54px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: #121212;
}

.header__nav-link:hover {
    border-bottom: 1px solid #000;
    opacity: 0.5;
}

.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    z-index: 2;
}

.burger_open {
    opacity: 1;
    visibility: visible;
}

.burger__content {
    position: relative;
    padding-left: 30px;
    overflow-y: auto;
    width: 274px;
    background-color: #fff;
}

.burger__logo {
    margin-top: 80px;
    margin-bottom: 50px;
    width: 156px;
    height: 26px;
}

.burger__nav {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burger__nav-link {
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.75px;
    color: #121212;
}

.burger__nav-link:hover {
    opacity: 0.5;
}

.burger-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger-contacts__title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.48px;
    opacity: 0.5;
}

.burger-contacts__link {
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #000;
}

@media (max-width: 1199px) {
    .header__nav {
        display: none;
    }

    .burger-btn {
        display: block;
        width: 50px;
        height: 10px;
        background-image: url(../resources/burger_btn.png);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .burger-btn_open {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 34px;
        height: 34px;
        background-image: url(../resources/burger_btn_open.png);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 37px;
        padding-bottom: 66px;
    }
    
    .header__logo {
        width: 96px;
        height: 16px;
    }

    .burger-btn {
        width: 38px;
        height: 6px;
    }

    .burger-btn_open {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 34px;
        height: 34px;
    }
}

