.services {
    padding-top: 151px;
    color: #fff;
    background-color: #121212;
}

.services__title {
    margin-bottom: 30px;
}

.services-wrapper {
    margin-bottom: 104px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
}

.services-wrapper__box {
    position: relative;
    width: calc(50% - 5.5px);
}

.services-wrapper__box-image {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.services-wrapper__price {
    position: absolute;
    top: 31px;
    left: 30px;
    padding: 5px 22px 5px 20px;
    border-radius: 5px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
    background-color: #AD1818;
}

.services-wrapper__title {
    margin-top: 25px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
}

.services__btn {
    padding: 0px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    line-height: 153px;
    letter-spacing: -0.9px;
    color: #fff;
    background-color: #AD1818;
}

.body_fixed {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.popup_open {
    opacity: 1;
    visibility: visible;
}

.popup__content {
    position: relative;
    padding: 0px 79px 0px 55px;
    width: 777px;
    max-height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #fff;
    color: black;
}

.popup__title {
    margin-bottom: 4px;
    padding-top: 94px;
    text-align: center;
    font-size: 45px;
    line-height: normal;
    letter-spacing: -1.35px;
}

.popup__text {
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
}

.popup__btn {
    margin-top: 30px;
    margin-bottom: 86px;
    padding: 20px 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    cursor: pointer;
    background-color: #AD1818;
    color: #fff;
}

.popup__close-btn {
    position: absolute;
    top: 32px;
    right: 34px;
    width: 50px;
    height: 50px;
    background-image: url(../resources/popup_close_btn.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.popup__input {
    margin-bottom: 50px;
    padding: 0px;
    display: block;
    width: 100%;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: -0.75px;
    border: none;
    border-bottom: 1px solid #000000;

}

.popup__input:focus {
    outline: none;
}

@media (max-width: 1199px) {
    .services-wrapper {
        margin-bottom: 80px;
    }

    .services-wrapper__box {
        width: calc(50% - 5px);
    }

    .services-wrapper__box-image {
        height: 315px;
    }

    .services-wrapper__price {
        top: 32px;
        left: 32px;
        padding: 7px 26px 6px 27px;
        font-size: 20px;
    }

    .services-wrapper__title {
        margin-top: 15px;
        font-size: 25px;
        letter-spacing: -0.75px;
    }

    .popup__close-btn {
        right: 44px;
    } 
}

@media (max-width: 767px) {
    .services {
        padding-top: 80px;
    }

    .services-wrapper {
        margin-bottom: 60px;
        row-gap: 60px;
    }

    .services-wrapper__box {
        width: 100%;
    }

    .services-wrapper__box-image {
        height: 240px;
    }

    .services-wrapper__price {
        top: 23px;
        left: 24px;
        padding: 5px 23px 6px 24px;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.42px;
    }

    .services-wrapper__title {
        font-size: 18px;
        line-height: normal;
        letter-spacing: -0.54px;
    }

    .services__btn {
        font-size: 22px;
        line-height: 100px;
        letter-spacing: -0.66px;
    }

    .popup__content {
        padding: 0px 24px 0px 16px;
    }

    .popup__title {
        margin-bottom: 11px;
        padding-top: 80px;
        font-size: 25px;
        letter-spacing: -0.75px;
    }

    .popup__text {
        margin: 0 auto;
        margin-bottom: 60px;
        align-content: center;
        width: 209px;
        font-size: 14px;
        letter-spacing: -0.42px;
    }

    .popup__input {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: -0.54px;
    }

    .popup__btn {
        margin-top: 20px;
        margin-bottom: 80px;
        font-size: 20px;
        letter-spacing: -0.6px;
    }

    .popup__close-btn {
        width: 30px;
        height: 30px;
    }
}