@import url(../styles/header.css); 
@import url(../styles/interiors.css);
@import url(../styles/description.css);
@import url(../styles/projects.css);
@import url(../styles/services.css);
@import url(../styles/reviews.css);
@import url(../styles/nav.css);
@import url(../styles/gallery.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);

* {
    letter-spacing: -0.03em;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'manrope';
    font-weight: 400;
    color: #121212;
}

section {
    padding-bottom: 150px;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1150px
}

@media (max-width: 1199px) {
    section {
        padding-bottom: 120px;
    }
    
    .container {
        width: 100%;
        padding: 0 15px
    }

    
}

@media (max-width: 767px) {
    section {
        padding-bottom: 80px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: -0.42px;
    }
    
    .container {
        width: 100%;
        padding: 0 12px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.42px;
    }
}
